{% extends 'base.html' %}
{% block content %}
    <div class="row">
        <div class="col-md-6 pt-5">
            <img src="{{ '/static/img/'+campground.image }}" alt="">
        </div>
        <div class="col-md-6 pt-5">
            <h4 class="card-title text-capitalize">{{campground.title}}</h4>
            <p>{{campground.description}}</p>
            <div class="m-bot15"> <strong>Price : </strong> <span class="pro-price"> {{campground.price}}Eur/night</span></div>
            <div class="form-group">
                <span class="text-capitalize"><strong>City: </strong>{{campground.city}}</span>
            </div>
            <div class="form-group">
                <span class="text-capitalize"><strong>Address: </strong>{{campground.address}}</span>
            </div>
            {% if not home %}
                <a href="{{ url_for('delete',campground_id=campground_id) }}" class="btn btn-danger">DELETE</a>
                <a href="{{ url_for('update',campground_id=campground_id) }}" class="btn btn-warning">Update</a>
            {% endif %}
            <a href="{{ url_for('index') if home else url_for('my-campgrounds') }}" class="btn btn-warning">Go back</a>
        </div>
    </div>
{% endblock %}